<template>
    <div class="panel-app df fww" :style="{width:panelWidth}">
        <div :style="{width:colWidth}" class="i" v-for="(item,index) in transformData">{{item}}</div>
    </div>
</template>

<script>
    import utils from '../../../utils'
    export default {
        name: 'EhExcel',
        componentName: 'EhExcel',
        props: {
            width: {
                type: String,
                default: '300px'
            }
        },
        computed:{
            panelWidth(){
                return utils.getStyle(this.$parent.$el,'width');
            },
            colNum(){
               return this.data[0].length;
            },
            colWidth(){
                let panelWidth = parseInt(this.panelWidth);
                console.log(panelWidth / this.colNum);
                return (panelWidth / this.colNum) + 'px';
            },
            transformData(){
                let ret = [];
                this.data.map((item) => {
                    item.map(it => {
                        ret.push(it);
                    });
                });
                console.log(ret);
                return ret;
            }
        },
        data(){
            return {
                parentEl:null,
                data:[
                    [1,2,3,4,5],
                    [11,22,33,44,55],
                    [16,27,38,49,50],
                ]
            }
        },
        mounted(){
            this.parentEl = this.$parent.$el;
        }
    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    .panel-app{
        .i{
            height: 20px;
            border:1px solid red;
        }
    }
</style>