/*
* 基础布局
* @ Name:        layout.css V1.0.0
* @ Author:      一丝
* @ Update:      2013-9-30 15:39:51;
* @ Copyright:   MIT License
*/

/*
*@ Name:       inline-block 组件
*@ Author:     一丝
*@ Update:     2013-9-29 16:05:04
*@ Usage:      清除空隙需在外层容器加上 dib-box，dib 可单独使用
*/
.justify{
  font-size: 0;
  line-height: inherit;
  @at-root &:after {
    content: "";
    display: inline-block;
    width: 100%; /* 1 */
  }
  @at-root &.dib{
    text-align-last: auto;
    text-justify: auto;
    text-align: left;
    font-size: 12px;
    letter-spacing: normal;
    word-spacing: normal;
  }
}
.dib-box{
  font-size:0;
  .dib{
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: inherit;
  }
  &.justify{
    @extend .justify;
  }
}

@media (-webkit-min-device-pixel-ratio: 0) {
  .dib-box {
    letter-spacing: -5px; /* Safari 5- 等不支持 font-size: 0 的浏览器 */
  }
}

/*
*@ Name:       替换元素等比缩放组件
*@ Author:     一丝
*@ Update:     2013-9-29 16:05:04
*@ Usage:      不同的视频网站由于控制栏高度不同，需要JS配合添加对应的 class
*/

.fluid-media {
  position: relative;
}

/* 容器 */
.fluid-media div,
.fluid-media video,
.fluid-media embed,
.fluid-media object,
.fluid-media iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* 常见的视频比例 */
.widescreen {
  padding-bottom: 56.25%; /* 宽屏 16:9=56.25% */
}

.narrowscreen {
  padding-bottom: 75%; /* 窄屏 4:3=75% */
}

/* 播放器控制栏的高度，更多网站按需扩展 */
.youku {
  padding-top: 40px; /* 优酷 */
}

.wole {
  padding-top: 40px; /* 我乐 56.com */
}

.tudou {
  padding-top: 50px; /* 土豆 */
}

.iqiyi {
  padding-top: 45px; /* 爱奇艺 */
}

.youtube {
  padding-top: 30px; /* Youtube */
}

/*
*@ Name:       未知高度垂直居中组件
*@ Author:     一丝
*@ Update:     2013-10-13 17:08:36
*@ Usage:      支持图片，单行或多行文字，以及图文混排
*/

/* 去除 inline-block 的空隙 */
.center-box {
  font-size: 0;
  *word-spacing: -1px; /* IE6、7 */
  height: 100%; /* 继承父级高度 */
}

/* 修复 Safari 5- inline-block 的空隙 */
@media (-webkit-min-device-pixel-ratio: 0) {
  .center-box {
    letter-spacing: -5px;
  }
}

/* 使用空标签生成一个高度100%的参照元素 */
.center-box .center-hack {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 0;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

.center-box .center-body {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 12px;
  vertical-align: middle; /* 保证文字垂直居中 */
  padding: 0 !important; /* 防止设置边距导致居中失效 */
  margin: 0 !important;
  width: 100%; /* 保证连续字符也能居中 */
  white-space: normal; /* 保证连续字符换行 */
  word-wrap: break-word;
}

.center-box .center-img {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100%;
  text-align: center; /* 图片默认水平居中 */
  vertical-align: middle;
  padding: 0 !important; /* 防止设置边距导致居中失效 */
  margin: 0 !important;
  font-size: 0;
}

.center-box img {
  vertical-align: middle; /* 去除现代浏览器 img 底部空隙 */
}
