//mixin
@mixin triangleRight($width,$height,$color){
    width: 0;
    height: 0;
    border-top: #{$height/2} solid transparent;
    border-left: #{$width} solid $color;
    border-bottom: #{$height/2} solid transparent;
}
@mixin triangleTopLeft($width,$height,$color){
  width: 0;
  height: 0;
  border-top: #{$height} solid $color;
  border-right: #{$width} solid transparent;
}
@mixin triangleTopRight($width,$height,$color){
  width: 0;
  height: 0;
  border-top: #{$height}  solid $color;
  border-left:  #{$width} solid transparent;
}
@mixin triangleBottomRight($width,$height,$color){
  width: 0;
  height: 0;
  border-bottom: #{$height} solid $color;
  border-left: #{$width}  solid transparent;
}
@mixin triangleBottomLeft($width,$height,$color){
  width: 0;
  height: 0;
  border-bottom: #{$height} solid $color;
  border-right: #{$width}  solid transparent;
}
@mixin triangleUp($width,$height,$color){
  width: 0;
  height: 0;
  border-left: #{$width/2} solid transparent;
  border-right: #{$width/2} solid transparent;
  border-bottom: #{$height} solid $color;
}
@mixin triangleDown($width,$height,$color){
  width: 0;
  height: 0;
  border-left: #{$width/2} solid transparent;
  border-right: #{$width/2} solid transparent;
  border-top: #{$height} solid $color;
}
//平行四边形
//宽度 高度 角度
//demo 300px,150px,30deg
@mixin parallelogram($width,$height,$deg){
  width: #{$width};
  height: #{$height};
  transform: skew(#{$deg});
}
//function
@function rem($px){
  @return #{$px / 100}#{rem};
}

