<template>
  <div class="df panel-content">
    <div class="lt">
      <img src="http://pro.greatma.com/web/binary/company_logo?db=gmtest&company=1" alt="">
      <PluginSideNav />
    </div>
    <div class="rt">
      <router-view/>
    </div>
  </div>
</template>

<script>
    import PluginSideNav from '@/components/PluginSideNav';
    export default {
      components:{
		  PluginSideNav
      },
      data () {
        return {
          msg: 'Welcome to Your Vue.js App'
        }
      }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .panel-content{
    height:map-get($content,'height');
    .lt{
      width:200px;
      height: 100%;
      overflow-y: scroll;
      margin:{
        left:8px;
      }
    }
    .rt{
      width:calc(100% - 200px);
    }
  }
</style>
