<template>
  <div class="panel-nav df jcsb">
    <div class="lt df">
      <router-link class="i" to="/page-message-home" exact>讨论</router-link>
      <router-link class="i" to="/page-basedata-home" exact>基础数据</router-link>
      <router-link class="i" to="/page-skill-home" exact>技术管理</router-link>
      <router-link class="i" to="/page-sale-home" exact>销售</router-link>
      <router-link class="i" to="/page-buy-home" exact>采购</router-link>
      <router-link class="i" to="/page-qa-home" exact>品质</router-link>
      <router-link class="i" to="/page-warehouse-home" exact>仓库</router-link>
      <router-link class="i" to="/page-make-home" exact>生产</router-link>
      <router-link class="i" to="/page-account-home" exact>会计</router-link>
      <router-link class="i" to="/page-query-home" exact>查询</router-link>
      <router-link class="i" to="/page-count-home" exact>统计分析</router-link>
    </div>
    <div class="rt df">
      <div class="i"><i class="icon iconfont">&#xe7ab;</i></div>
      <div class="i"><i class="icon iconfont">&#xe745;</i></div>
      <div class="i avatar df">
        <div class="l"><i class="icon iconfont">&#xe60f;</i></div>
        <div class="r">
          <el-dropdown trigger="hover">
            <span class="el-dropdown-link">
              用户名字<i class="el-icon-arrow-down el-icon--right"></i>
            </span>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>首选项</el-dropdown-item>
              <el-dropdown-item>注销</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
	export default {
		data() {
			return {
				activeIndex: '1',
				activeIndex2: '1'
			};
		},
		methods: {
			handleSelect(key, keyPath) {
				console.log(key, keyPath);
			}
		}
	}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .panel-nav{
    text-align: center;
    .i{
      color:#888;
      height: 80px;
      line-height: 80px;
      font-size:16px;
      padding:{
        left:20px;
        right:20px;
      }
      cursor: pointer;
      &.on{
        color:#409eff;
      }
    }
    .lt{
      .i{
      }
    }
    .rt{
      .i{
        .icon{
          font-size:20px;
        }
        &.avatar{
          .l{
            margin:{
              right:5px;
            }
          }
        }
      }
    }
  }
</style>
