<template>
  <div class="panel-detail">
      <PluginDetail :pluginDetail="state.pluginDetail" :pluginMain="state.pluginMain"/>
  </div>
</template>

<script>
    import {mapState,mapGetters} from 'vuex';
    import Vue from 'vue'
    import utils from "@/service/utils";
    import PluginDetail from '@/components/PluginDetail'
    export default {
        components:{
            PluginDetail,
        },
        methods:{
            init(){

            },

        },
        created(){
            this.init();
        },
        computed:{
            ... mapGetters({
                state: 'getState'
            })
        },
        data() {
            return {

            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    .panel-table{
        height: 100%;
    }
</style>
