<template>
  <div>
    <PluginMain :pluginMain="state.PageBasedataHome.pluginMain" :pluginSideNavTree="state.pluginSideNavTree"/>
    <eh-excel></eh-excel>
  </div>
</template>

<script>
	import PluginMain from '@/components/PluginMain';
    import { mapGetters,mapState,mapActions } from 'vuex'
    export default {
    	components:{
			PluginMain
        },
        computed:{
            ... mapGetters({
                state: 'getState'
            }),
            ...mapState({
                PageBasedataHome:'PageBasedataHome'
            }),
        },
        methods:{
          addCount(){
              this.$store.commit('addState',{})
          }
        },
        created(){

        },
        data () {
            return {
                msg: 'Welcome to Your Vue.js App'
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
