<template>
    <div class="panel-title">
        {{title}}
    </div>
</template>

<script>
    import store from "@/service/store";
	export default {
	    props:['title'],
		components:{

        },
		methods: {
			init(){

            },
		},
		created(){
			this.init();
        },
		data() {
			return {

			};
		},
        computed:{

        }
	};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    .panel-title{
        font-size:18px;
    }
</style>
