<template>
    <div class="panel-menu df" v-model="on" @click="onChange">
        <div class="i df jcc" v-for="(item,index) in menus" :key="index" @click="on=item" >
            <div class="l" ><i class='icon iconfont' v-html="item.icon"></i></div>
            <div class="r asc">
                <div class="h">{{item.total}}</div>
                <div class="b">{{item.name}}</div>
            </div>
        </div>
    </div>
</template>

<script>
    import store from "@/service/store"
	export default {
        props:['auth'],
		components:{

        },
		methods: {
			init(){
                this.addListen();
            },
            doMap(){
                console.log('doMap');
            },
            doHand(){
			    console.log('doHand');
            },
            addListen(){
			    this.onChange = () => {
                    const on = this.on,
                        fun = on.fun;
                    this[fun]();
                }
            }
		},
        computed:{

        },
		created(){
            this.init();
        },
		data() {
			return {
			    on:null,
                menus:[
                    {
                        name:"图纸",
                        total:0,
                        auth:"map",
                        fun:"doMap",
                        icon:"&#xe64a;"
                    },
                    {
                        name:'在手',
                        total:0,
                        auth:"hand",
                        fun:'doHand',
                        icon:"&#xe64e;"
                    },
                ]
            };
		}
	};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    .panel-menu{
        .i{
            border:1px solid #ddd;
            width: 120px;
            cursor: pointer;
            .l{
                .icon{
                    font-size:36px;
                }
                margin:{
                    right: 5px;
                }
            }
        }
    }
</style>
