<template>
    <li draggable="true" @dragstart="onDragStart" @drop='onDrop($event)' @dragover='allowDrop'>
        {{child}}
    </li>
</template>

<script>
    import store from "@/service/store"
    import utils from "@/service/utils"
    export default {
        props:['child'],
		components:{
        },
		methods: {
			init(){
                this.addListen();
            },
            sortByKeys(){
			    let ret = [];
                utils.each(this.pluginMainTableLists,(item,i) => {
                    ret[i] = utils.sortByKeys(this.pluginMainTableListsItemZeroKeys,item);
                });
                return ret;
            },
            addListen(){
                this.onDragStart = (e) => {
                    e.stopPropagation();
                    store.dispatch('savePluginMainPrintCustomListsNode',{
                        dragNode:this.child
                    })
                }
                this.onDrop = (e) => {
                    e.preventDefault();
                    e.stopPropagation();
                    utils.swapInArray(this.pluginMainTableListsItemZeroKeys,this.pluginMainPrintCustomListsNodeDragNode,this.child,true);
                    store.dispatch('savePluginMainTable',{
                        lists:this.sortByKeys()
                    })
                }
                this.allowDrop = (e) => {
                    e.preventDefault();
                }
            }
		},
		created(){
			this.init();
        },
        computed:{
            pluginMainTable:{
                get:function () {
                    return store.getters.pluginMainTable;
                }
            },
            pluginMainTableLists(){
                return this.pluginMainTable.lists;
            },
            pluginMainTableListsItemZeroKeys(){
                if(this.pluginMainTableLists.length > 0){
                    return Object.keys(this.pluginMainTableLists[0]);
                }
            },
            pluginMainPrintCustomListsNodeDragNode(){
                return store.getters.pluginMainPrintCustomListsNode.dragNode;
            }
        },
		data() {
			return {

			};
		}
	};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    ul{
        ul{
            padding:{
                left:20px;
            }
        }
    }
</style>
