<template>
    <div class="panel-menu">
        <div class="hd">

        </div>
        <div class="bd">
        </div>
    </div>
</template>

<script>
	export default {
		components:{
        },
		methods: {
			init(){
//				this.initList();
            },
		},
		created(){
			this.init();
        },
		data() {
			return {
			};
		}
	};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
