<template>
    <el-input placeholder="请输入内容" v-model="input">
        <el-select v-model="selected" slot="prepend" placeholder="请选择">
            <el-option v-for="(item,index) in list" :label="item.label" :value="item.val" :key="index"></el-option>
        </el-select>
        <el-button slot="append" icon="el-icon-zoom-in" @click="onSearch"></el-button>
    </el-input>
</template>

<script>
    import utils from '@/service/utils'
	export default {
		components:{
        },
		methods: {
			init(){
			    this.addListen()
            },
            addListen(){
			    this.onSearch = () => {
			        console.log('标题=>',this.selectedItem.label,'  字段=>',this.selected,'  条件=>',this.input);
                }
            }
		},
		created(){
			this.init();
        },
        computed:{
		    selectedItem(){
		        let ret = null;
		        utils.each(this.list,(item) => {
		            if(item.val == this.selected){
		                ret = item;
		                return;
                    }
                });
		        return ret;
            }
        },
		data() {
			return {
                input:"",
                selected:"",
                list:[
                    {
                        label:'代码', //名称
                        val:'1'       //字段
                    },
                    {
                        label:'名称', //名称
                        val:'2'       //字段
                    }
                ]
			};
		}
	};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    .el-select{
        width: 130px;
    }

</style>
