<template>
    <el-table-column ng-if="child.children" :label="child.name" :className="child.name == 'tyroot' ? 'hide':''">
        <el-table-column
                :type="item.type ? item.type : 'default'"
                :width="item.width ? item.width : undefined"
                show-overflow-tooltip
                :prop="item.prop ? item.prop : undefined"
                :label="item.name"
                :sortable="item.prop ? true : false"
                v-for="(item,index) in child.children" :key="index"
        >
            <PluginMainTableTreeNode :child="it" v-for="(it,i) in item.children" :key="i"/>
        </el-table-column>
    </el-table-column>
</template>

<script>
    import utils from "@/service/utils";
    import store from "@/service/store";
    export default {
        watch:{
            'child'(){
                console.log(111);
            }
        },
        components:{

        },
        props:['child'],
        methods:{
            init(){
                this.addListen();
            },
            addListen(){

            }
        },
        computed:{

        },
        beforeCreate(){
            this.$options.components.PluginMainTableTreeNode = () => import('@/components/PluginMain.Table.Tree.Node')
        },
        created(){
            this.init();
        },
        data() {
            return {

            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    .hide{
        display: none;
    }
</style>
