<template>
    <li draggable="true" @dragstart="onDragStart" @drop='onDrop($event)' @dragover='allowDrop'>
        {{child.name || child.type}} <label><input type="checkbox" v-model="child.visible"> {{childVisible}}</label>
        <pluginMainPrintCustomTree v-if="child.children" :children="child.children" :table="table" :tree="tree"/>
    </li>
</template>

<script>
    import Vue from 'vue'
    import store from "@/service/store"
    import utils from "@/service/utils"
    import draggable from 'vuedraggable'
    import pluginMainPrintCustomTree from '@/components/PluginMain.Print.Custom.Tree'
    export default {
        props:['child','node','table','tree'],
		components:{
            draggable,
            pluginMainPrintCustomTree
        },
        computed:{
            dragNode(){
                return this.node.dragNode;
            },
            childVisible(){
                return this.child.visible ? '可视':'隐藏'
            },
            tableTree(){
                return this.table.tree;
            }
        },
		methods: {
			init(){
                this.addListen();
            },
            swapTreeNode(tree){
                utils.eachTree(tree,(item) => {
                    if(item.children && item.children.length > 0){
                        item.children.sort((a,b) => {
                            return a.sort - b.sort;
                        });
                    }
                })
                return tree;
            },
            swapTreeNode1(tree,node1,node2){
                if(!node1 || !node2){
                    return;
                }
                let id1 = node1.id,
                    id2 = node2.id;
                if(id1 == id2){
                    return;
                }
                let n1 = null,
                    n2 = null;
                utils.eachTree(tree,(item) => {
                    if(item.id == id1){
                        n1 = item;
                    }
                    if(item.id == id2){
                        n2 = item;
                    }
                })
                utils.eachTree(this.tableTree,(item,parent,index) => {
                    if(item.id == id1){
                        Vue.set(parent, index, n2)
                    }
                    if(item.id == id2){
                        Vue.set(parent, index, n1)
                    }
                })
                return tree;
            },
            addListen(){
			    this.onDragStart = (e) => {
                    e.stopPropagation();
                    store.dispatch('savePluginMain',{
                        print:{
                            custom:{
                                tree:{
                                    node:{
                                        dragNode:this.child
                                    }
                                }
                            }
                        }
                    })
                }
                this.onDrop = (e) => {
                    e.preventDefault();
                    e.stopPropagation();
                    if(this.tableTree){
                        utils.swapFieldInArray(this.tableTree,this.dragNode,this.child,'sort')
                    }
			    }
                this.allowDrop = (e) => {
                    e.preventDefault();
                }
            }
		},
		created(){
			this.init();
        },
        watch: {

        },
		data() {
			return {
                drag:null,
                drop:null
			};
		}
	};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    ul{
        ul{
            padding:{
                left:20px;
            }
        }
    }
</style>
