<template>
    <ul class="df panel-status">
        <li v-for="(item,index) in lists" :key="index" :class="item.klass">
            <span>{{item.name}}</span>
            <div class="t"></div>
        </li>
    </ul>
</template>

<script>
    import store from "@/service/store"
	export default {
        props:['status'],
        components:{

        },
        methods: {
            init(){
                this.addListen();
            },
            addListen(){

            }
        },
        computed:{
            lists(){
                let on  = this.status.on;
                if(on == 0){
                    return [
                        {
                            name:"草稿",
                            klass:''
                        },
                        {
                            name:"待审核",
                            klass:''
                        },
                        {
                            name:'已确认',
                            klass:''
                        }
                    ];
                }
                if(on == 1){
                    return [
                        {
                            name:"草稿",
                            klass:'step1'
                        },
                        {
                            name:"待审核",
                            klass:''
                        },
                        {
                            name:'已确认',
                            klass:''
                        }
                    ];
                }
                if(on == 2){
                    return [
                        {
                            name:"草稿",
                            klass:'step1'
                        },
                        {
                            name:"待审核",
                            klass:'step2'
                        },
                        {
                            name:'已确认',
                            klass:''
                        }
                    ];
                }
                if(on == 3){
                    return [
                        {
                            name:"草稿",
                            klass:'step1'
                        },
                        {
                            name:"待审核",
                            klass:'step2'
                        },
                        {
                            name:'已确认',
                            klass:'step3'
                        }
                    ];
                }
            }
        },
        created(){
            this.init();
        },
        data() {
            return {

            };
        }
	};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    .panel-status{
        margin:{
            right: 20px;
        }
        li{
            height: 32px;
            line-height: 32px;
            color:white;
            background: #9e9e9e;
            width: 70px;
            text-align: center;
            position: relative;
            &.step1{
                background: #f44336;
                .t{
                    @include triangleRight(16px,32px,#f44336);
                }
            }
            &.step2{
                background: #ff9800;
                .t{
                    @include triangleRight(16px,32px,#ff9800);
                }
            }
            &.step3{
                background: #4caf50;
                .t{
                    @include triangleRight(16px,32px,#4caf50);
                }
            }
            span{
                padding:{
                    left:10px;
                }
            }
            .t{
                position: absolute;
                top: 0;
                right:-16px;
                z-index: 2;
                @include triangleRight(16px,32px,#9e9e9e);
            }
        }
    }
</style>
