<template>
    <el-radio-group v-model="on" size="small"  @change="onChange()">
        <el-radio-button
                @click="doCreate()"
                v-for="(item,index) in menus"
                :label="item"
                :key="index"
                v-show="menuBar.auth[item.auth]"
        >{{item.name}}
        </el-radio-button>
    </el-radio-group>
</template>

<script>
    import store from "@/service/store"
	export default {
        props:['menuBar'],
		components:{

        },
		methods: {
			init(){
                this.addListen();
            },
            doCert(){
			    console.log('cert');
            },
            addListen(){
			    this.onChange = () => {
                    const on = this.on,
                        fun = on.fun;
                    this[fun]();
                }
            }
		},
        computed:{

        },
		created(){
            this.init();
        },
		data() {
			return {
                on: '1',
                menus:[
                    {
                        name:"确认审核",
                        auth:"cert",
                        fun:"doCert"
                    }
                ]
            };
		}
	};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
