<template>
  <div>
    <el-input
            placeholder="输入关键字进行过滤"
            v-model="filterText">
    </el-input>

    <el-tree
            class="filter-tree"
            :data="data"
            :props="defaultProps"
            default-expand-all
            :filter-node-method="filterNode"
            @node-click="nodeClick"
            ref="tree2">
    </el-tree>
  </div>
</template>

<script>
    import store from "@/service/store"
	export default {
		props:['tree'],
		watch: {
			filterText(val) {
				this.$refs.tree2.filter(val);
			}
		},
		methods: {
            init(){
                this.initTree();
                this.addListen();
            },
            addListen(){
                this.nodeClick = (data,onNode,_this) => {
                    store.dispatch('savePluginSideNavTree',{
                        on:{
                            label:onNode.data.label
                        }
                    })
                }
            },
            initTree(){
              this.data =  [{
                  id: 1,
                  label: '一级 1',
                  children: [{
                      id: 4,
                      label: '二级 1-1',
                      children: [{
                          id: 9,
                          label: '三级 1-1-1'
                      }, {
                          id: 10,
                          label: '三级 1-1-2'
                      }]
                  }]
              }, {
                  id: 2,
                  label: '一级 2',
                  children: [{
                      id: 5,
                      label: '二级 2-1'
                  }, {
                      id: 6,
                      label: '二级 2-2'
                  }]
              }, {
                  id: 3,
                  label: '一级 3',
                  children: [{
                      id: 7,
                      label: '二级 3-1'
                  }, {
                      id: 8,
                      label: '二级 3-2'
                  }]
              }];
            },
            filterNode(value, data) {
                if (!value) return true;
                return data.label.indexOf(value) !== -1;
            }
		},
        created(){
			this.init();
        },
		data() {
			return {
				filterText: '',
				data: [],
				defaultProps: {
					children: 'children',
					label: 'label'
				}
			};
		}
	};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
