<template>
  <div class="panel-table">
      <!--<el-table-->
          <!--ref="multipleTable"-->
          <!--:data="lists"-->
          <!--style="width: 100%"-->
          <!--:default-sort = "{prop: 'date', order: 'descending'}"-->
          <!--@selection-change="onSelect"-->
          <!--height="100%"-->
          <!--@cell-click="cellClick"-->
  <!--&gt;-->

      <!--<PluginMainTableTree :child="tree" />-->
  <!--</el-table>-->
      <pluginMainPrintCustomTree :children="table.tree.children" :tree="table.tree" :table="table" />
  </div>
</template>

<script>
    import {mapState} from 'vuex';
    import Vue from 'vue'
    import utils from "@/service/utils";
    import store from "@/service/store";
    import router from "@/service/router";
    import PluginMainTableTree from "@/components/PluginMain.Table.Tree";
    import pluginMainPrintCustomTree from '@/components/PluginMain.Print.Custom.Tree'
    export default {
        props:['table'],
        components:{
            PluginMainTableTree,
            pluginMainPrintCustomTree
        },
        methods:{
            init(){
                this.addListen();
                this.addCallback();
            },
            addCallback(){
                this.afterSelectList = (list) => {
                    console.log('selected list');
                }
                this.afterSelectItem = (item) => {
                    console.log('selected item');
                }
            },
            addListen(){
                this.onSelect = (list) => {
                    //更新选中数量
                    store.dispatch('savePluginMain',{
                        table:{
                            selected:list
                        }
                    })
                    if(list.length == 1){
                        this.afterSelectItem(list[0]);
                        return;
                    }
                    this.afterSelectList(list);
                }
                this.cellClick = (item) => {
                    router.push('page-table-detail');
                    console.log(item);
                }
            }
        },
        created(){
            this.init();
        },
        computed:{
            lists(){
                let ret = {};
                utils.eachTree(this.tree,function (node) {
                    if(node.prop && node.prop.length > 0){
                        ret[node.prop] = node.data;
                    }
                });
                let keys = Object.keys(ret),
                    len = ret[keys[0]].length;
                let result = [];
                for(let i = 0; i < len; i++){
                    let r = {};
                    utils.each(keys,(k) => {
                        r[k] = ret[k][i];
                    })
                    result[i] = r;
                }
                return result;
            },
            tree(){
                utils.eachTree(this.table.tree,(item) => {
                    if(item.children && item.children.length > 0){
                        item.children.sort((a,b) => {
                            return a.sort - b.sort;
                        });
                        Vue.set(item,'children',item.children);
                    }
                })
                return this.table.tree;
            }
        },
        data() {
            return {
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    .panel-table{
        height: 100%;
    }
</style>
