<template>
    <ul>
        <PluginMainPrintCustomTreeNode v-for="(child,index) in children" :key="index" :child="child" :node="node" :table="table" :tree="tree"/>
    </ul>
</template>

<script>
    import store from "@/service/store"
    import draggable from 'vuedraggable'
    export default {
        props:['children','tree','table'],
		components:{
            draggable
        },
		methods: {
			init(){

            }
		},
        beforeCreate(){
            this.$options.components.PluginMainPrintCustomTreeNode =
                () => import('@/components/PluginMain.Print.Custom.Tree.Node');
        },
		created(){
            this.init();
        },
        computed:{
            node(){
                return this.tree.node;
            }
        },
		data() {
			return {

			};
		}
	};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    ul{
        ul{
            padding:{
                left:20px;
            }
        }
    }
</style>
