<template>
    <PluginMainTableTree :child="child"/>
</template>

<script>
    import utils from "@/service/utils";
    import store from "@/service/store";
    import PluginMainTableTree from "@/components/PluginMain.Table.Tree";
    export default {
        props:['child'],
        components:{
            PluginMainTableTree
        },
        methods:{

        },
        created(){

        },
        data() {
            return {

            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
