<template>
    <el-pagination
            @size-change="onSizeChange"
            @current-change="onCurrentChange"
            :current-page="pagination.currentPage"
            :page-sizes="pagination.pageSizes"
            :page-size="pagination.pageSize"
            layout="total, sizes, prev, pager, next"
            :total="pagination.total">
    </el-pagination>
</template>

<script>
    import utils from "@/service/utils";
    import { mapGetters,mapState } from 'vuex'
    export default {
        props:['pagination'],
        components:{
        },
        methods:{
            init(){
              this.addListen();
              this.addCallback();
            },
            addCallback(){

            },
            addListen(){
                this.onSizeChange = (size) => {
                    console.log('page size',size);
                }

                this.onCurrentChange = (page) => {
                    console.log('page number',page);
                }
            }
        },
        created(){
            this.init();
        },
        computed:{
        },
        data() {
            return {

            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
