<template>
    <el-dialog title="定制表格样式" :visible="custom.show" @close="onClose">
        <pluginMainPrintCustomTree :children="table.tree.children" :tree="custom.tree" :table="table" />
    </el-dialog>
</template>

<script>
    import { mapGetters,mapState } from 'vuex'
    import pluginMainPrintCustomTree from '@/components/PluginMain.Print.Custom.Tree'
    import pluginMainPrintCustomLists from '@/components/PluginMain.Print.Custom.Lists'
    export default {
        props:['custom','table'],
		components:{
            pluginMainPrintCustomTree,
            pluginMainPrintCustomLists
        },
		methods: {
			init(){
                this.addListen();
            },
            addListen(){
			    this.onClose = () => {
                    this.$store.dispatch('saveState',{
                        PageBasedataHome:{
                            pluginMain:{
                                print:{
                                    custom:{
                                        show:false
                                    }
                                }
                            }
                        }
                    });
                }
            }
		},
		created(){
			this.init();
        },
        computed:{

        },
		data() {
			return {

			};
		}
	};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
