<template>
    <div class="panel-detail">
        <div class="hd">
            <div class="h">
                <PluginDetail_Title :title="title" />
            </div>
            <div class="b df jcsb">
                <div class="l df fdc jcsb">
                    <PluginDetail_Menu :menu="pluginDetail.menu" />
                </div>
                <div class="c df aife">
                    <PluginMain_Print :print="pluginMain.print" :table="pluginMain.table"/>
                </div>
                <div class="r df fdc jcsb">
                    <PluginMainTablePagination :pagination="pluginDetail.pagination" />
                </div>
            </div>
            <div class="f df jcsb">
                <div class="l">
                    <PluginDetail_MenuBar :menuBar="pluginDetail.menuBar" />
                </div>
                <div class="r">
                    <PluginDetail_Status :status="pluginDetail.status" />
                </div>
            </div>
        </div>
        <div class="bd">
            <div class="h">
                <PluginDetail_MenuImg class="pluginDetail.menu" />
            </div>
        </div>
    </div>
</template>

<script>
    import PluginMain_Table from "@/components/PluginMain.Table"
    import PluginDetail_Title from "@/components/PluginDetail.Title"
    import PluginDetail_Menu from "@/components/PluginDetail.Menu"
    import PluginDetail_MenuBar from "@/components/PluginDetail.MenuBar"
    import PluginDetail_MenuImg from "@/components/PluginDetail.MenuImg"
    import PluginDetail_Status from "@/components/PluginDetail.Status"
    import PluginMain_Print from "@/components/PluginMain.Print"
    import PluginMainTablePagination from "@/components/PluginMain.Table.Pagination";
    import PluginMainSearch from "@/components/PluginMain.Search";

    export default {
        props:['pluginDetail','pluginMain'],
		components:{
            PluginMain_Table,
            PluginDetail_Title,
            PluginDetail_Menu,
            PluginDetail_MenuBar,
            PluginDetail_MenuImg,
            PluginDetail_Status,
            PluginMain_Print,
            PluginMainTablePagination,
            PluginMainSearch
        },
		methods: {
			init(){
//				this.initList();
            },
		},
        computed:{
            title(){
                return "";
            }
        },
		created(){
			this.init();
        },
		data() {
			return {
			};
		}
	};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    .panel-detail{
        .hd{
            padding:5px 16px;
            .h{
                height: 32px;
            }
            .f{
                padding:{
                    top:5px;
                    bottom:5px;
                }
                .r{
                }
            }
        }
        .bd{
            border:{
                top:1px solid #ebeef5;
            }
            .h{
                position: relative;
                .menu{
                    position: absolute;
                    right:20px;
                    top:20px;
                }
            }
        }
    }
</style>
