<template>
    <el-radio-group size="small">
        <el-radio-button
                @click="doCreate()"
                v-for="(item,index) in menus"
                :label="item"
                :key="index"
                v-show="print.auth[item.auth]"
        >
            <el-dropdown @command="onCommand">
                <span class="el-dropdown-link">{{item.name}}<i class="el-icon-arrow-down el-icon--right"></i></span>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item :command="it" v-for="(it,i) in item.funs" :key="i">{{it.name}}</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </el-radio-button>

        <PluginMainPrintCustom :custom="print.custom" :table="table"/>
    </el-radio-group>
</template>

<script>
    import utils from "@/service/utils"
    import PluginMainPrintCustom from "@/components/PluginMain.Print.Custom";
    export default {
        props:['print','table'],
        components:{
            PluginMainPrintCustom
        },
        methods: {
            init(){
                this.initFuns();
                this.addListen();
            },
            initFuns(){
                this.printLabel = () => {
                    console.log('print label');
                }

                this.doExport = () => {
                    console.log('doExport');
                }

                this.doDel = () => {
                    console.log('doDel');
                }

                this.exportExcel = () => {
                    console.log('exportExcel');
                }

                this.exportAll = () => {
                    console.log('exportAll');
                }

                //定制化表格样式
                this.doCustom = () => {
                    this.$store.dispatch('saveState',{
                        PageBasedataHome:{
                            pluginMain:{
                                print:{
                                    custom:{
                                        show:true
                                    }
                                }
                            }
                        }
                    });
                }
            },
            addListen(){
                this.onCommand = (item) => {
                    let fun = item.fun,
                        name = item.name;
                    this[fun]();
                }
            }
        },
        computed:{

        },
        created(){
            this.init();
        },
        data() {
            return {
                menus:[
                    {
                        name:"打印",
                        auth:"print",
                        funs:[
                            {
                                name:'产品标签',
                                fun:'printLabel'
                            }
                        ]
                    },
                    {
                        name:"动作",
                        auth:"action",
                        funs:[
                            {
                                name:'导出',
                                fun:'doExport'
                            },
                            {
                                name:'删除',
                                fun:'doDel'
                            },
                            {
                                name:'定制',
                                fun:'doCustom'
                            }
                        ]
                    },
                    {
                        name:"export",
                        auth:"export",
                        funs:[
                            {
                                name:'excel',
                                fun:'exportExcel'
                            },
                            {
                                name:'导出所有数据（excel格式）',
                                fun:'exportAll'
                            }
                        ]
                    }
                ]
            };
        }
    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
