<template>
    <ul>
        <pluginMainPrintCustomListsNode :child="item" v-for="(item,index) in lists" :key="index" />
    </ul>
</template>

<script>
    import store from "@/service/store"
    import draggable from 'vuedraggable'
    import pluginMainPrintCustomListsNode from '@/components/PluginMain.Print.Custom.Lists.Node'
    export default {
        props:['lists'],
		components:{
            draggable,
            pluginMainPrintCustomListsNode
        },
		methods: {
			init(){
                this.addListen();
            },
            addListen(){

            }
		},
		created(){
			this.init();
        },
        computed:{

        },
		data() {
			return {

			};
		}
	};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    ul{
        ul{
            padding:{
                left:20px;
            }
        }
    }
</style>
