<template>
  <div>
    <el-collapse v-model="activeNames" @change="handleChange">
      <el-collapse-item :title="item.name" v-for="(item, index) in list" :key="index" :name="index">
        <PluginSideNav_Tree :tree = "item.tree" />
      </el-collapse-item>
    </el-collapse>
  </div>
</template>

<script>
	import PluginSideNav_Tree from '@/components/PluginSideNav.Tree';
	export default {
		components:{
			PluginSideNav_Tree
        },
		methods: {
			handleChange(){

            },
			init(){
				this.initList();
            },
			initList(){
				this.list = [
                    {
                    	name:'客户',
                        tree:[{
							id: 1,
							label: '一级 1',
							children: [{
								id: 4,
								label: '二级 1-1',
								children: [{
									id: 9,
									label: '三级 1-1-1'
								}, {
									id: 10,
									label: '三级 1-1-2'
								}]
							}]
						}, {
							id: 2,
							label: '一级 2',
							children: [{
								id: 5,
								label: '二级 2-1'
							}, {
								id: 6,
								label: '二级 2-2'
							}]
						}, {
							id: 3,
							label: '一级 3',
							children: [{
								id: 7,
								label: '二级 3-1'
							}, {
								id: 8,
								label: '二级 3-2'
							}]
						}]
                    },
					{
						name:'订单',
						tree:[{
							id: 1,
							label: '一级 1',
							children: [{
								id: 4,
								label: '二级 1-1',
								children: [{
									id: 9,
									label: '三级 1-1-1'
								}, {
									id: 10,
									label: '三级 1-1-2'
								}]
							}]
						}, {
							id: 2,
							label: '一级 2',
							children: [{
								id: 5,
								label: '二级 2-1'
							}, {
								id: 6,
								label: '二级 2-2'
							}]
						}, {
							id: 3,
							label: '一级 3',
							children: [{
								id: 7,
								label: '二级 3-1'
							}, {
								id: 8,
								label: '二级 3-2'
							}]
						}]
					},
					{
						name:'出货',
						tree:[{
							id: 1,
							label: '一级 1',
							children: [{
								id: 4,
								label: '二级 1-1',
								children: [{
									id: 9,
									label: '三级 1-1-1'
								}, {
									id: 10,
									label: '三级 1-1-2'
								}]
							}]
						}, {
							id: 2,
							label: '一级 2',
							children: [{
								id: 5,
								label: '二级 2-1'
							}, {
								id: 6,
								label: '二级 2-2'
							}]
						}, {
							id: 3,
							label: '一级 3',
							children: [{
								id: 7,
								label: '二级 3-1'
							}, {
								id: 8,
								label: '二级 3-2'
							}]
						}]
					},
					{
						name:'设置',
						tree:[{
							id: 1,
							label: 'tony',
							children: [{
								id: 4,
								label: '二级 1-1',
								children: [{
									id: 9,
									label: '三级 1-1-1'
								}, {
									id: 10,
									label: '三级 1-1-2'
								}]
							}]
						}, {
							id: 2,
							label: '一级 2',
							children: [{
								id: 5,
								label: '二级 2-1'
							}, {
								id: 6,
								label: '二级 2-2'
							}]
						}, {
							id: 3,
							label: '一级 3',
							children: [{
								id: 7,
								label: '二级 3-1'
							}, {
								id: 8,
								label: '二级 3-2'
							}]
						}]
					}
                ];
            }
		},
		created(){
			this.init();
        },
		data() {
			return {
				activeNames:['1'],
                list:[]
			};
		}
	};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
