<template>
    <div class="panel-main">
        <div class="hd df jcsb">
            <div class="l df fdc jcsb">
                <div class="h">
                    <PluginMain_Title :title="pluginMain.title" />
                </div>
                <div class="b">
                    <PluginMain_Menu :menu="pluginMain.menu" />
                </div>
            </div>
            <div class="c df aife">
                <PluginMain_Print :print="pluginMain.print" :table="pluginMain.table"/>
            </div>
            <div class="r df fdc jcsb">
                <div class="h">
                    <PluginMainSearch />
                </div>
                <div class="b">
                    <PluginMainTablePagination :pagination="pluginMain.pagination" />
                </div>
            </div>
        </div>
        <div class="bd">
            <PluginMain_Table :table="pluginMain.table"/>
        </div>
    </div>
</template>

<script>
    import PluginMain_Table from "@/components/PluginMain.Table"
    import PluginMain_Title from "@/components/PluginMain.Title"
    import PluginMain_Menu from "@/components/PluginMain.Menu"
    import PluginMain_Print from "@/components/PluginMain.Print"
    import PluginMainTablePagination from "@/components/PluginMain.Table.Pagination";
    import PluginMainSearch from "@/components/PluginMain.Search";
    import { mapGetters,mapState } from 'vuex'
    export default {
        props:['pluginMain','pluginSideNavTree'],
		components:{
            PluginMain_Table,
            PluginMain_Title,
            PluginMain_Menu,
            PluginMain_Print,
            PluginMainTablePagination,
            PluginMainSearch
        },
		methods: {
			init(){
//				this.initList();
            },
		},
        computed:{

        },
		created(){
			this.init();
        },
		data() {
			return {

			};
		}
	};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    .panel-main{
        height: 100%;
        .hd{
            height: 90px - 10px;
            padding:{
                left:16px;
                right:16px;
                top:5px;
                bottom:5px;
            }
        }
        .bd{
            height: calc(100% - 90px);
        }
    }
</style>
