<template>
  <div id="app">
    <AppHeader />
    <AppContent />
    <AppFooter />
  </div>
</template>

<script>
	import AppHeader from '@/components/AppHeader';
	import AppFooter from '@/components/AppFooter';
	import AppContent from '@/components/AppContent';
    export default {
      name: 'App',
      components: {
      	AppHeader,
      	AppContent,
        AppFooter
      },
    }
</script>

<style>
  #app{
    height: 100%;
  }
</style>
